
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #938F9D;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}


.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin-left: 20px;
}


.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}


.nav-links a:hover {
    color: #f39c12;
}


.imagen-nombre {
    position: relative;
    width: 100%; 
    height: 300px;
    border: 2px solid #a7a2a2; 
    box-sizing: border-box; 
    overflow: hidden; 
}
.imagen-nombre img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.imagen-nombre-texto {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight:bolder;
    text-align: center;
    background-color: rgba(0, 0, 0, 0); 
    padding: 10px; 
    border-radius: 5px; 
}


.acerca-de-mi {
    border: 2px solid #a7a2a2;
    padding: 15px;
    margin-bottom: 2px;
}
.acerca-de-mi h2 {
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
.acerca-de-mi p{
    margin-left: 50px;
    margin-right: 50px;
}



.proyectos {
    border: 2px solid #a7a2a2;
    padding: 15px;
    margin-bottom: 2px;
}
.proyectos h3{
    margin-left: 50px;
    margin-right: 50px;
}
.proyectos-div{
    margin-left: 75px;
    margin-right: 75px;
}




.cursos {
    border: 2px solid #a7a2a2;
    padding: 15px;
    margin-bottom: 2px;
}
.cursos-texto{
    margin-left: 50px;
    margin-right: 50px;

}



.experiencia {
    border: 2px solid #a7a2a2;
    padding: 15px;
    margin-bottom: 2px;
}
.experiencia-texto{
    margin-left: 50px;
    margin-right: 50px;
}



.estudios {
    border: 2px solid #a7a2a2;
    padding: 15px;
    margin-bottom: 2px;
}
.estudios-texto{
    margin-left: 50px;
    margin-right: 50px;
}



.tecnologias {
    border: 2px solid #a7a2a2;
    padding: 15px;
    margin-bottom: 2px;
}
.tecnologias-texto{
    margin-left: 50px;
    margin-right: 50px;
}



.contacto {
    background-color: #938F9D;
    padding: 15px;
    margin-bottom: 5px;
}

.menu-toggle {
    display: none; 
    flex-direction: column;
    justify-content: space-between; 
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000; 
}

.menu-toggle .hamburger {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 559px) {
    .menu-toggle {
        display: flex;/
    }

    .nav-links {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #938F9D; 
        width: 100%; 
        text-align: center;
        padding: 10px 0;
        margin: 0; 
        border: 2px solid #a7a2a2; 
        border-right: none; 
        max-height: 0; 
        overflow: hidden; 
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease; 
    }

    .nav-links.active {
        max-height: 500px; 
        opacity: 1; 
    }

    .nav-links li {
        margin: 10px 0;
    }


}

@media (min-width: 600px) and (max-width: 900px) {
    .imagen-nombre {
        height: 300px; /* Altura para tablets */
    }
    .imagen-nombre-texto {
        font-size: 18px; /* Tamaño del texto para tablets */
    }
    .nav-links a {
        font-size: 14px;
    }
    .imagen-nombre {
        height: 200px;
    }
}

